.full-screen {
    display: block;
    max-width: auto;
    height: 500px;
    margin: 0 auto;
}

.form-login-screen {
    max-width: 55%;
    margin: 0 auto;
}

.navbar-fixed-bottom {
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 10px;
    width: 100%;
}

.link-text-color {
    color: black;
    white-space: nowrap;
}

.language-text-color {
    color: black;
}

.error-text-color {
    color: red;
    margin-top: 7px;
    font-weight:bold;
}

.success-text-color {
    color: green;
    margin-top: 7px;
    font-weight:bold;
}

#menu-band {      
    height: 100%;
    margin-bottom: 0px;
}

.personal-area-name {
    color: brown;
    font-size: 88%;
}

.personal-area-greatings {
    text-align: center;
}

#image-logo{
    color: brown;
}

.accounts-table-area{
	overflow: scroll; /* ��������� ������ ��������� */    
    height: 50%; /* ������ ����� */    
    border: 0px; /* ��������� ����� */
}

.btn-primary-my{ 
	color: #fff;
	background-color: #222;
	border-color: #080808;
}

.btn-primary-my:hover {
  color: brown;
  background-color: #222;
  border-color: #080808;
}

.btn-primary-my:active {
  color: brown;
  background-color: #222;
  border-color: #080808;
}

.btn-primary-my:focus {
  color: #fff;
  background-color: #222;
  border-color: #080808;
}

.all-ads-area{
	overflow: scroll; /* ��������� ������ ��������� */    
    height: 235vh; /* ������ ����� */    
    border: 0px; /* ��������� ����� */
    margin-top: 5%;
    margin-left: 250px;
    margin-right: 5%;    
}

.one-ad-area{	
    position: static;   
}

.sidebar {    
    height: 245vh; /* ������ ����� */
    width: 250px;
    z-index: 1000;   
    overflow-y: auto;
    background: #222;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;    
}

.login-area {    
    height: 80vh;    
    border: 0px;   
}

.registration-area {    
    height: 80vh;    
    border: 0px;   
}

.footer {    
/*   margin-right: 25%;*/
    background-color: darkgray;
    border: 0px;    
}

.like{
    margin-top: 5%;
    margin-left: 0%;
    color: cornflowerblue;
    text-decoration:none;    
    
}

.like-counter{    
    margin-top: 5%;    
    color: brown;
    text-decoration:none;    
}

.like-counter:hover{
    font-weight:bold;
    margin-top: 5%;    
    color: brown;
    text-decoration:none;    
}

.like-counter:focus{    
    margin-top: 5%;    
    color: brown;
    text-decoration:none;    
}

.comments{
    margin-top: 5%;
    margin-left: 4%;
    color: darkseagreen;
}

.comments-counter{    
    margin-top: 5%;    
    color: brown;
    text-decoration:none;
}

.comments-counter:hover{
    font-weight:bold;
    margin-top: 5%;    
    color: brown;
    text-decoration:none;
}

.comments-counter:focus{    
    margin-top: 5%;    
    color: brown;
    text-decoration:none;
}

.category-type{
    color:dimgray;
    font-weight: normal;
    font-size: 95%;
}
.categories-list {
    margin-left: 7%;
    color: brown;
}

.one-ad-image {    
    padding: 0px;
    width: 260px;
    max-width: 260px;
    height: 140px;
    max-height: 140px;
}

.one-ad-block {
  width: 270px;
  height: 220px;
  display: block;
  padding: 4px;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: border .2s ease-in-out;
       -o-transition: border .2s ease-in-out;
          transition: border .2s ease-in-out;
}

.one-ad-name {
    color: dimgray;
    font-size: 130%;
    border-bottom: 0px;
}

.one-ad-name:hover {
    font-weight:bold;
    color: brown;
    font-size: 130%;
    border-bottom: 0px;
    text-decoration:none;
}

.one-ad-name:focus {    
    color: dimgray;
    font-size: 130%;
    border-bottom: 0px;
    text-decoration:none;
}

.logout-button {
	background: #222;
}