.full-screen {
    display: block;
    max-width: auto;
    height: 500px;
    margin: 0 auto;
}
.form-login-screen {
    display: block;
    max-width: 50%;
    height: 100%;
    margin: 0 auto;
    vertical-align: middle;
}
.navbar-fixed-bottom {
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 10px;
    width: 100%;
}
.link-text-color {
    color: black;
}

.language-text-color {
    color: black;
}

.error-text-color {
    color: red;
}

#menu-band {      
    height: 100%;
    margin-bottom: 0px;
}

.personal-area-name {
    color: brown;
}

.personal-area-greatings {
    text-align: center;
}

#image-logo{
    color: brown;
}

.accounts-table-area{
	overflow: scroll; /* Добавляем полосы прокрутки */    
    height: 50%; /* Высота блока */    
    border: 0px; /* Параметры рамки */
}

.btn-primary-my{ 
	color: #fff;
	background-color: #222;
	border-color: #080808;
}

.btn-primary-my:hover {
  color: brown;
  background-color: #222;
  border-color: #080808;
}

.btn-primary-my:active {
  color: brown;
  background-color: #222;
  border-color: #080808;
}

.btn-primary-my:focus {
  color: #fff;
  background-color: #222;
  border-color: #080808;
}
